/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap");
@font-face {
  font-family: Roboto;
  src: url("./Fonts/Poppins-LightItalic.ttf");
}

body {
  margin: 0;
  font-family: Quicksand !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Quicksand !important;
}

html {
  font-family: Quicksand !important;
}

::-webkit-scrollbar {
  width: 10px;
}
.fa-trash {
  color: red;
  cursor: pointer;
}

.iCOn {
  transition: 0.5s;
  box-shadow: none;
  transform: scale(1);
}
.cardDiv {
  cursor: pointer;
}

.cardDiv:hover .iCOn {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.3);
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.profileImage {
  width: 100px;
}
.fa-eye {
  color: #029aff;
  cursor: pointer;
}
.fa-edit {
  cursor: pointer;
  color: blue;
}

.View {
  border: 1px solid black;
  width: 100%;
  padding: 10px;
}

.main-card--container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 50px;
  justify-content: space-around;
}
.card-container {
  margin: 25px 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}

.myEdit:focus {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.AstroLogin {
  color: #fff;
  background-color: #2b7a8e;
  padding: 10px;
  width: 380px;
  text-align: center;
  font-size: 20px;
  background: linear-gradient(to left, #2b7a8e 50%, #fff 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  border: 1px solid #2b7a8e;
  margin-top: 10px;
  text-transform: uppercase;
}
.AstroLogin:hover {
  background-position: left;
  color: #2b7a8e;
}

.EcommerceAdminLogin {
  color: #fff;
  background-color: #19376d;
  padding: 10px;
  width: 380px;
  text-align: center;
  font-size: 20px;
  background: linear-gradient(to left, #19376d 50%, #fff 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  border: 1px solid #19376d;
  margin-top: 10px;
  text-transform: uppercase;
}

.EcommerceAdminLogin:hover {
  background-position: left;
  color: #19376d;
}
.EcommerceVendorLogin {
  color: #fff;
  background-color: #576cbc;
  padding: 10px;
  width: 380px;
  text-align: center;
  font-size: 20px;
  background: linear-gradient(to left, #576cbc 50%, #fff 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
  border: 1px solid #576cbc;
  margin-top: 10px;
  text-transform: uppercase;
}

.EcommerceVendorLogin:hover {
  background-position: left;
  color: #576cbc;
}

.view {
  background-color: #2196f3;
  color: #fff;
  width: 50%;
  padding: 5px;
}

.two-sec {
  display: flex;
  justify-content: space-evenly;
  justify-content: space-evenly;
}
.two-sec .left {
  width: 60%;
  background-color: #f6f1ef;
  padding: 20px;
}
.two-sec .left .head {
  font-size: 25px;
  font-weight: bold;
}

.two-sec .right {
  width: 30%;
  background-color: #f6f1ef;
}

.searchDiv {
  width: 100%;
  display: flex;
  gap: 10px;
  border: 1px solid rgb(179, 179, 179);
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
}
.searchDiv input {
  width: 94%;
  outline: none;
  border: none;
}

.flexCont {
  display: flex;
  align-items: center;
  gap: 10px;
}
.flexCont img {
  width: 60px;
  background-color: #e9ecef;
}

.blockContent {
  display: block;
}
.blockContent p {
  margin: 0;
}

.checkBox {
  width: 50px;
  height: 25px;
  background-color: #e9ecef;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}
.checkBox span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  left: 5px;
  top: 2px;
}
.ActivecheckBox {
  width: 50px;
  height: 25px;
  background-color: #0d6efd;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}
.ActivecheckBox span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  right: 5px;
  top: 2px;
}

.fa-eye {
  color: #0cba73;
  text-align: center;
}

.fa-pen-to-square {
  color: #f4c39c;
  text-align: center;
  cursor: pointer;
}
.fa-trash {
  color: #df939f;
  text-align: center;
}

.required {
  color: #e74260;
}

.headP {
  margin-left: 2%;
  color: #7b7c7d;
}
.headP a{
  color: #7b7c7d;
}
.filterBox {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #d4d7dc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.filterBox img {
  width: 30px;
}
.filterBox input {
  width: 100%;
  border: 1px solid #d4d7dc;
  outline: none;
  padding: 5px;
  color: black;
}
.sectionCont {
  width: 98%;
  background-color: #fff;
  margin-left: 2%;
  padding: 20px;
}

.overFlowCont {
  width: 100%;
  overflow-x: auto;
}

.logo {
  margin-bottom: 20px;
  max-width: 200px;
  height: auto;
}

.updateProfile {
  margin-left: 20px;
  border: 1px solid #fff;
  border-radius: 100%;
  font-size: 1.2rem;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.updateProfile:hover {
  border: 1px solid #19376d;
  color: #19376d;
  background-color: #fff;
}

.Normalbtn {
  background-color: #19376d !important;
  border: 1px solid #19376d !important;
  border-radius: 0px !important;
}

.ImageCarousel {
  width: 150px !important;
  margin: 0px !important;
  height: 150px !important;
}
.CarouselImages {
  width: 150px !important;
  height: 150px !important;
}
.CarouselImages img {
  width: 100% !important;
  height: 100% !important;
}

.ModalCarousel {
  width: 100% !important;
  height: 500px !important;
}
.ModalCarousel {
  width: 100% !important;
  height: 500px !important;
}
.ModalCarousel img {
  width: 100% !important;
  height: 500px !important;
}

.gridCont {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}
.gridCont div {
  width: 400px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.gridCont div img {
  width: 100%;
}
.delete-Btn {
  width: 90%;
  margin-left: 5%;
  color: #c44b3f;
  border: 1px solid #c44b3f;
  transition: 0.5s;
  padding: 10px;

}

.delete-Btn:hover {
  background-color: #c44b3f;
  color: #fff;
}

.BannerCarousel {
  width: 300px;
  margin: 0px !important;
}
.BannerCarouselImage {
  width: 300px;
}
.BannerCarouselImage img {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.pagination button {
  border: 1px solid black;
  padding: 10px;
}

.activePage {
  background-color: #19376d;
  color: #fff;
  border: 1px solid #19376d !important;
}

.active {
  background-color: #fff;
  color: #19376d !important;
}
.prevBtn {
  background-color: #fff;
  color: #19376d;
  border: 1px solid #19376d !important;
  transition: 0.5s;
}

.prevBtn:hover,
.prevBtn:focus,
.prevBtn:active {
  background-color: #19376d;
  color: #fff;
  border: 1px solid #19376d !important;
}
.nextBtn {
  background-color: #fff;
  color: #19376d;
  border: 1px solid #19376d !important;
  transition: 0.5s;
}

.nextBtn:hover,
.nextBtn:focus,
.nextBtn:active {
  background-color: #19376d;
  color: #fff;
  border: 1px solid #19376d !important;
}

.dangerBox {
  position: relative;
}
.dangerBox i {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.fa-ellipsis-vertical {
  cursor: pointer;
}

.two_Sec_Div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.two_Sec_Div a {
  color: #000;
  text-decoration: none;
}
.two_Sec_Div p {
  margin: 0;
  font-family: Quicksand;
  font-weight: 600;
  font-size: 16px;
}
.Detail_Section {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.Detail_Section .Left_Cont {
  width: 30%;
}
.Detail_Section .Left_Cont img {
  display: block;
  margin: auto;
}
.Detail_Section .right_Cont {
  width: 90%;
  margin: auto;
}
.Detail_Section .right_Cont .Head {
  text-transform: capitalize;
  font-weight: 700;
}
.Detail_Section .right_Cont .Rating {
  display: flex;
  gap: 10px;
  align-items: center;
}
.Detail_Section .right_Cont .Rating .rat {
  font-weight: 600;
  color: #555;
}
.Detail_Section .right_Cont .two_Sec{
  display: flex;
  gap: 20px;
  align-items: center;
}
.Detail_Section .right_Cont .two_Sec .first{
  font-size: 25px;
  font-weight: 800;
}
.Detail_Section .right_Cont .two_Sec .second{
  font-size: 16px;
  text-decoration: line-through;
  font-weight: 600;
  color: #7b7c7d;

}
.Detail_Section .right_Cont ul{
  list-style-type: disc;
}


.flex-job {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.flex-job > :first-child {
  width: 30%;
}

.flex-job > :nth-child(2) {
  width: 70%;
}

.image-preview{
  width: 200px;
  height: auto;
  object-fit: cover;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.blog-image{
  width: 300px;
  height: auto;
  object-fit: cover;
  padding-top: 1rem;
  padding-bottom: 1rem;
}